body {
  background-color: #000000; /* Black background */
  background-image:
          radial-gradient(white 05%, transparent 05%);
  background-size: 50px 50px;
  background-position: 0 0, 50px 50px; /* Adjust the second value for spacing */

}

@keyframes twinkling {
  0% { opacity: 0.8; }
  100% { opacity: 1; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
